 <div class="container">
  <div class="row">
     <% @users.each do |user| %>
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="panel panel-body">
              <p>User: <%= user.name %> </p>
            
              <%= link_to 'Show', user %> 


<% if user_signed_in? %>

               
              <p>Email:  <%= user.email %> </p>
              <%= link_to 'Edit', edit_user_path(user) %> 
              <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %> 
             
             </div>
          </div>
      <% end %>
<% end %>
     
    </div> 
   </div>   
 


